@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Lobster&family=Shadows+Into+Light&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
}

header {
    margin: 1rem auto;
    border: 1px solid #bbb;
    border-radius: 3px 3px 3px 3px;
    padding: .5rem;
    background-color: #95D5B2;
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
    text-align: center;
}

h1 {
    margin: 1rem auto;
    font-family: 'Lobster', cursive;
    font-size: 25px;
}

main {
    border-bottom: 5px double;
    font-family: 'Inconsolata', monospace;
}

h2 {
    border-bottom: 5px double;
}

ul {
    margin-left: 25px;
    padding: 1rem;
}

footer {
    margin: 1rem auto;
    border: 1px solid #bbb;
    border-radius: 3px 3px 3px 3px;
    padding: .5rem;
    background-color: #95D5B2;
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
}

.footer-one {
    text-align: left;
}

.footer-two {
    text-align: left;
}