/* 64rem is also 1028px when bsaefont is 16px */
@media only screen and (min-width: 64rem) {

    nav button {
        display: none;
    }
    
    nav ul#primaryNav {
        display: flex;
        margin-left: 2vw;
        /* justify-content: felx-end; */
    }
    
    nav ul li a {
        border: none;
    }

    main {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .event {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .hero {
        grid-column: 2 / 4;
        grid-row: 2 / 4;
    }

    .spotlight1 {
        grid-column: 4 / 5;
        grid-row: 2 / 4;
    }

    .weather {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    /* .spotlight2 {
        grid-column: 4 / 5;
        grid-row: 3 / 4;
    } */

    .join {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }

    .news {
        grid-column: 2 / 5;
        grid-row: 4 / 5;
    }

    table {
        grid-column: 1 / 3;
    }

    .Form {
        grid-column: 3 / 5;
        padding: 0;
    }

    .contact_info {
        grid-column: 1 / 3;
    }

    .oldtown {
        grid-column: 1 / 3;
    }

    .Form2 {
        grid-column: 3 / 6;
        grid-row: 2 / 4;
    }

}