nav{
    background-color: #273032;
    color: #FFF;
    padding: 10px;
    display: flex;
  }
  
  .logo {
    background-color: blue
  }
  
  .nav ul {
    margin: 0px;
  }
  
  .nav li {
    list-style: none;
    display: inline;
    margin-right: 0.2rem;
  }
  
  .nav a {
    color: pink;
  }