/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }



/* Header */
header {
    background-color: #aa767c;
    padding: 1rem 2%;
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 1fr 50px 75px;
}

.web_everything {
    text-align: center;
    font-family: 'Edu QLD Beginner', cursive;
    grid-row: 2 / 3;
}


#today {
    grid-row: 3 / 4;
    padding: 1rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.media_icons {
    grid-row: 4 / 5;
    text-align: center;
}

/* Navigation */
nav button {
    margin: .2rem 2vw;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: white;
}

nav {
    background-color: #63474d;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    font-family: 'BenchNine', sans-serif;
    font-size: x-large;
    color: white;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
}

nav ul li.active a {
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

nav ul {display: none;}
nav ul.open {display: block;}

#hamburger span:nth-child(1) {display: block; text-align: left;}
#hamburger span:nth-child(2) {display: none; text-align: left;}

#hamburger.open span:nth-child(1) {display: none; text-align: left;}
#hamburger.open span:nth-child(2) {display: block;text-align: left;}

/* main */

.home {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #FFA686;
    border: solid 2px #63474D;
    padding: 1rem;
}

.page_name {
    border-top: 5px double #63474D;
    border-bottom: 5px double #63474D;
    /* background-color: #FEC196; */
    background-color: #FEDBC2;
    font-family: 'Edu QLD Beginner', cursive;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    padding: .5rem;
}

div#weather_alert {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
    background-color: #ef233c;
    border: solid #9d0208 2px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding: 1rem;
}

button#close {
    float: right;
    background-color: #ef233c;
    color: white;
    border: none;
}

div.showme{display: block;}
div.hideme{display: none;}

.make_res {
    display: block;
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    padding: 1rem;
    background-color: #FEC196;
    border: 5px double #63474D;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 30px auto;
    margin: 10% 10% 10% 10%;
}

.make {
    background-color: #63474D;
    color: white;
    border-radius: 5px 5px 5px 5px;
    padding: 0.35rem;
    font-size: 1.rem;
    text-align: center;
    box-shadow: 0 0 30px rgb(60, 58, 58);
}

.calendar {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    width: 75%;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
    height: 330px;
    border: none;
}

.temple_img {
    width: 75%;
    border: 5px double #63474D;
}

.temple {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
    text-align: center;
    padding: 1rem;
}

.temple_info {
    font-family: 'Montserrat', sans-serif;
    grid-column: 1 / 4;
    grid-row: 5 / 6;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    border: 5px double #63474D;
    font-weight: bold;
}

.current_weather {
    grid-column: 1 / 2;
    grid-row: 6 / 7;
    font-family: 'Montserrat', sans-serif;
    text-align: center;    
}

.current_weather img {
    width: 25%;
    height: auto;
    background-color: white;
}

.three_day_weather {
    grid-column: 2 / 4;
    grid-row: 6 / 7;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 75px auto;
}

.three_day_weather h2 {
    grid-column: 1 / 5;
}

.day1 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding: 1rem;
}

.day1 img {
    width: 75%;
    height: auto;
    background-color: white;    
}

.day2 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding: 1rem;
}

.day3 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    padding: 1rem;
}


.day2 img {
    width: 75%;
    height: auto;
    background-color: white;    
}

.day3 img {
    width: 75%;
    height: auto;
    background-color: white;    
}

/* Temple page */
.temple_page {
    background-color: #FFA686;
    border: solid 2px #63474D;
    padding: 1rem;
}

section {
    text-align: center;
    border: 5px double #63474D;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 30px rgb(60, 58, 58);
    padding: 1rem;
    margin: 16px;
}

section h2 {
    font-family: 'Albert Sans', sans-serif;
}

section p {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

section img {
    width: 75%;
    box-shadow: 0 0 30px rgb(60, 58, 58);
    
}

.list li {
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    list-style-type: none;
    text-align: center;
  }

  .list li:hover:after,
  .list li.fav:after {
    content: ' \2605';
    color: rgb(255, 255, 255);
  }
  .list li.fav:hover:after {
    content: ' \2606';
  }

  /* Thank you page */
  .thank_you_page {
    background-color: #FFA686;
    border: solid 2px #63474D;
    padding: 1rem;
    text-align: center;
}

.thank_you_page h2 {
    border-top: double 5px #63474D;
    border-bottom: double 5px #63474D;
    text-align: center;
    font-family: 'Edu QLD Beginner', cursive;
    font-size: 45px;
}

.thank_you_page img {
    width: 40%;
    border: double 5px #63474D;
}

/* Reservation Page */
.reservation_page {
    background-color: #FFA686;
    border: solid 2px #63474D;
    padding: 1rem;
}

.Form {
    grid-column: 1 / 5;
    padding: 1rem;
    font-family: 'Montserrat', sans-serif;
}

form fieldset {
    margin: 2rem 0;
    border: 1px solid #63474D;
    border-radius: 10px;
    padding: .5rem 2%;
    background-color: #FEDBC2;
}

form legend {
    color: #63474D;
    margin: 0 1rem;
    padding: 0 .5rem;
    border: solid 1px #63474D;
    border-radius: 30px 30px 30px 30px;
    background-color: #FEDBC2;
}

form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: #561000;
    font-size: .8rem;
}

form label.top input, form label.top select {
    -webkit-apearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    /* background-color: rgba(0,0,0,0.1); */
}

form label.sbs {
    display: block;
    padding: .75rem;
    color: #63474D;
}

form input.submitBtn {
    border: none;
    background-color: #aa767c;
    color: black;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
    font-family: 'Montserrat', sans-serif;
}

form label.top input {
    background-color: white;
}

form label.top input:required {
    border-left: red solid 6px;
    background-color: white;
}

form label.top input:required:valid {
    border-left: green solid 6px;
    background-color: white;
}

.laie_img {
    display: none;
}

.pitt_img {
    display: none;
}

/* Service Page */
.service_page {
    background-color: #FFA686;
    border: solid 2px #63474D;
    padding: 1rem;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.page_name_service {
    border-top: 5px double #63474D;
    border-bottom: 5px double #63474D;
    /* background-color: #FEC196; */
    background-color: #FEDBC2;
    font-family: 'Edu QLD Beginner', cursive;
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    padding: .5rem;
    text-align: left;
}

.room_picture {
    grid-column: 1 / 5;
}

.pool_picture {
    grid-column: 1 / 5;
}

.room_img {
    border: double 5px #63474D;
    width: 75%;
}

.pool_img {
    border: double 5px #63474D;
    width: 75%;
}

.service_list {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-align: left;
    grid-column: 2 / 4;
}

.rec_link {
    grid-column: 1 / 2;
}

.miss_link {
    grid-column: 1 / 2;
}

.service_page a {
    
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: black;
    padding: .5rem;
}

/* Missionary Page */
.Form_missionary {
    grid-column: 1 / 5;
    padding: 1rem;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
}

.gym_picture {

    grid-column: 1 / 5;
}

/* Reception Page */
.ball_img {
    width: 100%;
}

.p {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
    padding: .5rem;
}

.recomend_list {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.recomend_list li {
    list-style-type: none;
}

/* Footer */
footer {
    margin: 0 auto;
    text-align: center;
    color: white;
    background-color: #63474d; 
    font-family: 'Montserrat', sans-serif;
    padding: 1rem;   
}

footer a {
    color: white;
}
